:root {
  --primary: #444965;
  --secondary: #f83940;
  --ternary: #f8cd4f;
}

body {
    display: flex;
    height: 100vh;
    max-height: 100vh;
}

tr:nth-child(even) {background-color: #eeeeee;}
.align-right { text-align: right; }

nav {
    width: 280px;
}

main {
    flex: 1 0 auto;
    overflow: auto;
}

.input-group.input-group--group input {
    border-color: var(--primary);
}

.input-group.input-group--group .input-group-text {
    border-color: var(--primary);
    background-color: var(--primary);
    color: white;
}

#add-group.btn {
    border-color: var(--primary);
    background-color: var(--primary);
    color: white;
}

.screen-inputs {
    padding-left: 5em;
}

.input-group.input-group--screen input {
    border-color: var(--secondary);
}

.input-group.input-group--screen .input-group-text {
    border-color: var(--secondary);
    background-color: var(--secondary);
    color: white;
}

.add-screen-btn.btn {
    border-color: var(--secondary);
    background-color: var(--secondary);
    color: white;
}


